
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}
   
header{
    width: 100%;
    height: 75px;
    line-height: 75px;
    position: fixed;
    background-color: #23232F;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
  position: relative;
  max-width: 600px;
}
.content .textBox h4{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 300;
    margin-top: 50px;
}
.content .textBox h4 span{
    color: #23232F;
    font-size: 1.2em;
    font-weight: 700;

}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #23232F;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: 340px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #23232F;
    clip-path: circle(600px at right 800px);
}
.logo img{
    max-width: 120px;
    height: auto;
    position: relative;
    display: flex;
}
.navmenus{
    display: flex;
}
.navmenus a{
    color: #edfff1;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;

}

.navmenus a:hover{
    color: #EE1C47;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #edfff1;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;

}

.navmenu a:hover{
    color: #EE1C47;
}


.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #edfff1;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}

#menu-icon{
    font-size: 35px;
    color: #edfff1;
    z-index: 1001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
header.sticky{
    background: #23232F;
    box-shadow: 0px 0px 10px rgb(2 3 2 3 F/ 10%);
}

/*trending-section-css*/
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.center-text span{
    color: #23232F;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2.6rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 60%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #111111;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 40%;
    font-size: 20px;
}
.heart-icon:hover{
    color: #EE1C47;
}

.price h4{
   color: #111111;
    font-size: 16px;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}
.client-reviews{
    background-color: #F3F4F6;
}
.reviews{
    text-align: center;
}
.reviews h3{
    color: #111111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
}
.reviews p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #111111;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}
/*Footer css*/
.up-center-text h2{
    text-align: center;
    color: #111111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}
.cart img{
    width: 250px;
    height: auto;
    border-radius: 5px;
}
.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
}
.cart h5{
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.cart4{
    color: #111111;
    font-size: 18px;
    font-weight: 600;
}
.cart p{
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}
.cart h6{
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}
/* contact-section */
.contact{
    background-color: #F3F4F6;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
}
.first-info img{
    width: 140px;
    height: auto;
}
.contact-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor:pointer;
    transition: all .42s;
}

.contact-info p:hover{
    color: #EE1C47;
}
.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
    
}
.social-icon i:hover{
    transform:scale(1.3);
    
}
.social-icon :hover{
    color: #EE1C47;
}
    

.end-text{
    background-color: #23232F;
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: #edfff1;
    text-transform: capitalize;
}

/* Responsive-css */
@media (max-width: 890px) {
    header {
        padding: 20px 3%;
        transition: .4s;
    }
}
@media (max-width: 630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 20px;
        transition: .4s;

    }
}

@media (max-width:750px){
    .navmenus{
        position:absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #23232F;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenus a{
        display: block;
        margin: 18px 0;
    }
    .navmenus.open{
        right: 0;
    }
}

    .navmenu{
        position:absolute;
        top: 80%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #23232F;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: -15px 0;
    }
    .navmenu.open{
        right: 0;
    }

    .container{
        width: 100%;
        min-height: 100vh;
        padding: 5%;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar{
        width: 2000px;
        max-width: 700px;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 10px 20px;
        backdrop-filter: blur(4px) saturate(180%);
        position: relative;
        right: 100px;
        height: 50px;

    }

    .search-bar input{
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 24px 20px;
        font-size: 20px;
        color: #23232F;
    }

    ::placeholder{
        color: #bdbbc9;
    }

    .search-bar button img{
        width: 25px;
    }
    .search-bar button{
        border: 0;
        border-radius: 50%;
        width: 50px;
        background: transparent;
        height: 50px;
        cursor: pointer;

    }
    .User{
        display: flex;
        align-items: center;
        position: relative;
        left: 30px;

    }
    .User i{
        margin-right: 600px;
        color: #23232f;
        font-size: 30px;
        font-weight: 20;
        transition: all .42s ease;
        position: relative;
        left:20px;
    }
    .User i:hover{
        transform: scale(1.1);
        color: #23232F;
    }

